<h1>add</h1>

<form action="/add" method="POST">
    IdDistrict: <input type="text" name="idDistrict"><br>
    IdVillage: <input type="text" name="idVillage"><br>
    Address: <input type="text" name="address"><br>
    IsGetNotification: <input type="text" name="isGetNotification"><br>
    IsVerified: <input type="text" name="isVerified"><br>
    IsGetOpen: <input type="text" name="isGetOpen"><br>
    <button type="submit">Add</button>
</form>